<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<ion-view title="New context" ng-app="forget-me-not">      
    <ion-content class="has-header padding">
        <div class="button-bar">
            <a id="save" class="button button-stable icon ion-checkmark-round"
               ng-click="saveContext()"></a>
            <a id="cancel" class="button button-assertive icon ion-close-round"
               ng-click="cancelContext()" ng-href="#/"></a>
        </div>

        <div class="list">
            <label class="item item-input">
                <span class="input-label">Context Name</span>
                <input type="text" class="form-control" placeholder="Context Name"
                       ng-model="context.name" required />
            </label>
            <div class="item item-checkbox">
                <label class="checkbox">
                    <input type="checkbox" ng-model="addchecked" ng-change="addressChoiceChange()"/>
                </label>
                Locate with an address
            </div>

            <label class="item item-input" ng-show="addressUsed()">
                <span class="input-label">Address</span>
                <input type="text" class="form-control" ng-model="context.location"
                       placeholder="Address">
            </label>

            <div class="item item-checkbox">
                <label class="checkbox">
                    <input type="checkbox" ng-model="addchecked"
                           ng-change="geolocationChoiceChange()"
                           ng-true-value="false"/>
                </label>
                Geolocate me
            </div>
            <div class="item" ng-show="geolocationUsed()">
                <div id="map-canvas" style="width:100%;height:380px;">
                </div>
            </div>
        </div>
        <div class="bar bar-footer bar-dark padding" ng-if="showContextFooter()">
            <div>Your context has been saved.</div>
        </div>

    </ion-content>

    <div class="bar bar-footer bar-dark" ng-if="isFooterShown()">
        <div>{{message}}</div>
    </div>
</ion-view>
