<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<ion-view title="Nouveau contexte" ng-app="forget-me-not">      
    <ion-content class="has-header padding">
        <div class="button-bar">
            <button id="save" class="button icon ion-archive"
                    href ng-href="/tasks/{{task.id}}"
                    ng-click="saveTask()"></button>
            <button id="cancel" class="button button-assertive icon ion-close-round"
                    href ng-href="/"
                    ng-click="cancelTask()"></button>
        </div>

        <div class="list">
            <label class="item item-input">
                <span class="input-label">Nom</span>
                <input type="text" class="form-control" placeholder="Nom">
            </label>
            <div class="item item-checkbox">
                <label class="checkbox">
                    <input type="checkbox" ng-model="useAddress">
                </label>
                Localiser avec une adresse
            </div>

            <label class="item item-input" ng-show="useAddress">
                <span class="input-label">Adresse</span>
                <input type="text" class="form-control" placeholder="Adresse">
            </label>

            <div class="item item-checkbox">
                <label class="checkbox">
                    <input type="checkbox">
                </label>
                Détecter ma localisation actuelle
            </div>
            <!--
                        <div class="item" ng-controller="mapController">
                            <div class="map" id="map" width="425" height="350">
                            </div>
                        </div>
            -->
        </div>
    </ion-content>
</ion-view>
