<ion-view title="new task"> 
    <ion-content class="has-header padding">

        <section>
            <div id="task-block" ng-app="task">

                <div class="button-bar">
                    <button id="save" class="button icon ion-checkmark-round"
                            ng-href="/tasks/{{task.id}}"
                            ng-click="saveTask()"></button>
                    <button id="cancel" class="button button-assertive icon ion-close-round"
                            ng-click="cancelTask()"></button>
                </div>

                <div class="list" id="task-details">
                    <form class="simple-form" novalidate>
                        <label class="item item-input">
                            <span class="input-label">Nom</span>
                            <input id="name" type="text" class="form-control"
                                   placeholder="Nom"
                                   ng-model="task.name" required/>
                        </label>
                        <label class="item item-input">
                            <span class="input-label">Description</span>
                            <input id="description" type="text" class="form-control"
                                   placeholder="Description"
                                   ng-model="task.description" required/>
                        </label>
                        <label class="item item-input item-select">
                            <span class="input-label">Contexte</span>
                            <select id="context-select"
                                    ng-model="task.context_id" ng-options="context.name for context in contexts">
                                <option id="default" value="" selected>
                                    -- choisissez un contexte --
                                </option>
                            </select>
                        </label>
                        <label class="item item-input">
                            <span class="input-label">Date d'échéance</span>
                            <input id="due-date" type="date" class="form-control"
                                   placeholder="aaaa-MM-jj"
                                   ng-model="task.dueDate"/>
                        </label>
                        <label class="item item-input">
                            <span class="input-label">Durée (en minutes)</span>
                            <input id="duration" type="number" min="0" class="form-control"
                                   placeholder="Durée"
                                   ng-model="task.duration"/>
                        </label>
                        <label class="item item-input">
                            <span class="input-label">Priorité</span>
                            <input id="priority" type="hidden" ng-model="task.priority"/>
                            <div class="range">
                                <i class="icon ion-ios7-star-outline"></i>
                                <input type="range" name="priority"
                                       min="0" max="3" value="0"
                                       ng-model="task.priority"/>
                                <i class="icon ion-ios7-star"></i>
                            </div>
                        </label>
                        <label class="item item-input">
                            <span class="input-label">Label</span>
                            <input id="label" type="text" class="form-control"
                                   placeholder="Label"
                                   ng-model="task.label"/>
                        </label>
                    </form>
                </div>
            </div>
        </section>
    </ion-content>
</ion-view>
