<ion-view title="authentication"> 
    <ion-content class="has-header padding">
        <section>
            <div id="fb-root" class="card list" ng-show="authenticationNeeded">
                <div class="fb-login-button" data-max-rows="1"
                     data-size="medium" data-show-faces="false"
                    data-auto-logout-link="false" data-scope="public_profile,email"
                    onlogin="fbLogin()">
                </div>
                

<div id="status">
</div>
        </section>
    </ion-content>
</ion-view>

