<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<ion-view title="Consult contexts">
    <ion-content class="has-header padding">
        <ion-item class="item item-button-right" ng-href="#/contexts/{{context.context_id}}" ng-repeat="context in contexts">
            {{context.name}}
            <a class="button button-clear button-dark" ng-click="showConfirm({{context}})">
                <i class="icon ion-trash-a"></i>
            </a> 
        </ion-item>
    </ion-content>
</ion-view>