<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<ion-view title="Consulter les tâches" ng-app=""forget-me-not>
    <section>
    <div class="tabs-striped tabs-top tabs-background-stable tabs-dark has-header padding">
        <div class="tabs tabs-icon-left">
            <a class="tab-item" href="#">
                <i class="icon ion-ios7-world"></i>
                Par contexte
            </a>
            <a class="tab-item" href="#">
                <i class="icon ion-star"></i>
                Par priorité
            </a>
            <a class="tab-item" href="#">
                <i class="icon ion-ios7-search-strong"></i>
                Par mot-clé
            </a>
        </div>
    </div>

    <ion-content class="has-header has-tabs-top padding">     
        <div class="list has-header padding">
            <a class="item item-icon-left" ng-href="#/tasks">
                <i class="icon ion-ios7-sunny"></i>
                Aujourd'hui
            </a>
            
            <a class="item item-icon-left" ng-href="#/tasks">
                <i class="icon ion-ios7-cloudy-night"></i>
                Ce soir
            </a>
            <a class="item item-icon-left" ng-href="#/tasks">
                <i class="icon ion-ios7-partlysunny"></i>
                Demain
            </a>
            <a class="item item-icon-left" ng-href="#/tasks">
                <i class="icon ion-ios7-cloudy"></i>
                Cette semaine
            </a>
            <a class="item item-icon-left" ng-href="#/tasks">
                <i class="icon ion-ios7-rainy"></i>
                La semaine prochaine
            </a>
            <a class="item item-icon-left" ng-href="#/tasks">
                <i class="icon ion-ios7-thunderstorm"></i>
                Ce mois-ci
            </a>
            <a class="item item-icon-left" ng-href="#/tasks">
                <i class="icon ion-ios7-snowy"></i>
                Le mois prochain
            </a>
            <a class="item item-icon-left" ng-href="#/tasks">
                <i class="icon ion-ios7-moon"></i>
                Un jour
            </a>
            <a class="item item-icon-left" ng-href="#/tasks">
                <i class="icon ion-ios7-bell"></i>
                Pour une date précise
            </a>
        </div>
    </section>
    </ion-content>
</ion-view>   

