<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<ion-view title="Consult tasks" ng-app="task">
    <div class="tabs-striped tabs-top tabs-background-stable tabs-dark has-header">
        <div class="tabs tabs-icon-left">
            <div class="tab-item" ng-click="showContextsModal()">
                <i class="icon ion-ios7-world"></i>
                By context
            </div>
            <div class="tab-item" ng-click="showPrioritiesModal()">
                <i class="icon ion-star"></i>
                By priority
            </div>
            <div class="item-input-inset">
                <label class="item-input-wrapper">
                    <i class="icon ion-ios7-search-strong placeholder-icon"></i>
                    <input type="search" placeholder="Enter keywords" ng-model="keyword" ng-change="searchByKeyword()">
                </label>
            </div>
        </div>
    </div>   

    <ion-content class="has-header has-tabs-top padding">     
        <div class="list">

            <tasks-list ng-show="isListShown(7)"></tasks-list> 

            <ion-item class="item item-icon-left item-stable"
                      ng-click="toggleList(0)" ng-class="{active: isListShown(0)}">
                <i class="icon ion-ios7-sunny"></i>
                Today
            </ion-item>

            <tasks-list ng-show="isListShown(0)"></tasks-list>

            <ion-item class="item item-icon-left item-stable"
                      ng-click="toggleList(1)" ng-class="{active: isListShown(1)}">
                <i class="icon ion-ios7-cloudy-night"></i>
                Tonight
            </ion-item>
            <tasks-list ng-show="isListShown(1)"></tasks-list>

            <ion-item class="item item-icon-left item-stable"
                      ng-click="toggleList(2)" ng-class="{active: isListShown(2)}">
                <i class="icon ion-ios7-partlysunny"></i>
                Tomorrow
            </ion-item>

            <tasks-list ng-show="isListShown(2)"></tasks-list>

            <ion-item class="item item-icon-left item-stable"
                      ng-click="toggleList(3)" ng-class="{active: isListShown(3)}">
                <i class="icon ion-ios7-cloudy"></i>
                Within the next 7 days
            </ion-item>

            <tasks-list ng-show="isListShown(3)"></tasks-list>

            <ion-item class="item item-icon-left item-stable"
                      ng-click="toggleList(4)" ng-class="{active: isListShown(4)}">
                <i class="icon ion-ios7-thunderstorm"></i>
                Within the next 30 days
            </ion-item>

            <tasks-list ng-show="isListShown(4)"></tasks-list>

            <ion-item class="item item-icon-left item-stable"
                      ng-click="toggleList(5)" ng-class="{active: isListShown(5)}">
                <i class="icon ion-ios7-moon"></i>
                Someday
            </ion-item>

            <tasks-list ng-show="isListShown(5)"></tasks-list>

            <ion-item class="item item-icon-left item-stable"
                      ng-click="dateModal.show()" ng-class="{active: isListShown(6)}">
                <i class="icon ion-ios7-bell"></i>
                For a specific date
            </ion-item>

            <tasks-list ng-show="isListShown(6)"></tasks-list>

        </div>
    </ion-content>

    <div class="bar bar-footer bar-dark" ng-if="isFooterShown()">
        <div>{{message}}</div>
    </div>
</ion-view>   



