<ion-view title="HomePage" ng-app="forget-me-not">
    <ion-content>
        <section id="content">
            <div id="banner">
                <h1 id="app-name">ForgetMeNot</h1>
            </div>

            <div id="main-content">
                <div class="menu-item" id="notifications">
                    <h2 class="section-name" id="notifications">Notifications</h2>
                    <div class="card">
                        <div class="item item-text-wrap">
                            <p ng-if="isOverdueTasksShown(2)">
                                You have {{overdueTasks.length}} overdue tasks.
                            </p>
                            <p ng-if="isOverdueTasksShown(0)">
                                Congratulations, you do not have overdue tasks!
                            </p>
                            <p ng-if="isOverdueTasksShown(1)">
                                You have only one overdue task... Come on, you can do it!
                            </p>

                            <p ng-if="isTasksForTodayShown(2)">
                                You have {{tasksForToday.length}} tasks for today.
                            </p>
                            <p ng-if="isTasksForTodayShown(0)">
                                You have no task for today!
                            </p>
                            <p ng-if="isTasksForTodayShown(1)">
                                You have only one task for today.
                            </p> 
                        </div>
                    </div>    
                </div>
                <div class="menu-item" id="tasks">
                    <h2 class="section-name" id="tasks-name"> Tasks </h2>
                    <a class="button button-stable button-block icon icon-right ion-chevron-right"
                       id="add-task-button" ng-href="#/new_task">
                        Add a task
                    </a>
                    <a class="button button-stable button-block icon icon-right ion-chevron-right"
                       ng-href="#/tasks">
                        Consult tasks
                    </a>
                </div>
                <div class="menu-item" id="contexts">
                    <h2 class="section-name" id="contexts-name">Contexts</h2>
                    <a class="button button-block button-stable icon icon-right ion-chevron-right"
                       id="add-context-button" ng-href="#/new_context">
                        Add a context
                    </a>
                    <a class="button button-block button-stable icon icon-right ion-chevron-right"
                       id="consult-context-button" ng-href="#/contexts">
                        Consult contexts
                    </a>
                </div>
                <div class="menu-item" id="settings">
                    <h2 class="section-name" id="settings-name">Settings</h2>
                    <a class="button button-stable button-block icon icon-right ion-chevron-right"
                       id="access-settings-button" ng-href="#/settings">
                        Go to settings
                    </a>
                </div>
            </div>
        </section>
    </ion-content>
</ion-view>
