<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<ion-view title="Paramètres" ng-app="forget-me-not">      
    <ion-content class="padding has-header">
        <div class="list">
            <label class="item item-input item-stacked-label">
                <span class="input-label">Nom d'utilisateur</span>
                <input type="text" placeholder="Annabelle">
            </label>

            <div class="item item-toggle">
                Géolocalisation
                <label class="toggle toggle-dark">
                    <input type="checkbox">
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </div>

            <label class="item item-input item-select">
                <div class="input-label">
                    Langue
                </div>
                <select>
                    <option selected>Français</option>
                    <option>Anglais</option>
                    <option>Espagnol</option>
                </select>
            </label>
        </div>
    </ion-content>
</ion-view>
