<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<ion-view title="Tâches" ng-app="forget-me-not">
    <ion-content padding="true" has-header="true">
        <ion-list>            
            <div class="item item-icon-left item-button-right">
                <button class="button update">
                    <i class="icon ion-ios7-telephone"></i>
                </button>
                Faire un gâteau
                <button class="button delete">
                    <i class="icon ion-ios7-telephone"></i>
                </button>
            </div>
            <div class="item item-icon-left item-button-right">
                <i class="icon ion-ios7-star"></i>
                Relire mes leçons
                    <button class="button update">
                        <i class="icon ion-edit"></i>
                    </button>
                    <button class="button delete">
                        <i class="icon ion-trash-a"></i>
                    </button>
      
            </div>
            <div class="item item-icon-left item-button-right">
                <i class="icon"></i>
                Aller au cinéma
                <button class="button update">
                    <i class="icon ion-ios7-telephone"></i>
                </button>
                <button class="button delete">
                    <i class="icon ion-ios7-telephone"></i>
                </button>
            </div>
            <div class="item item-icon-left item-button-right">
                <i class="icon"></i>
                Prendre un bain !
                <button class="button update">
                    <i class="icon ion-ios7-telephone"></i>
                </button>
            </div>
        </ion-list>
    </ion-content>
</ion-view>

<!--
<div class="list">
            <div class="item item-icon-left">
                <i class="icon"></i>
                Faire un gâteau
                <button class="button update">
                    <i class="icon ion-ios7-telephone"></i>
                </button>
                <button class="button delete">
                    <i class="icon ion-ios7-telephone"></i>
                </button>
            </div>
            <div class="item item-icon-left item-button-right">
                <i class="icon"></i>
                Relire mes leçons
                <button class="button update">
                    <i class="icon ion-ios7-telephone"></i>
                </button>
                <button class="button delete">
                    <i class="icon ion-ios7-telephone"></i>
                </button>
            </div>
            <div class="item item-icon-left item-button-right">
                <i class="icon"></i>
                Aller au cinéma
                <button class="button update">
                    <i class="icon ion-ios7-telephone"></i>
                </button>
                <button class="button delete">
                    <i class="icon ion-ios7-telephone"></i>
                </button>
            </div>
            <div class="item item-icon-left item-button-right">
                <i class="icon"></i>
                Prendre un bain !
                <button class="button update">
                    <i class="icon ion-ios7-telephone"></i>
                </button>
            </div>
        </div>
-->