<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <link rel="stylesheet" href="../lib/ionic/css/ionic.css" type="text/css"/>
        <link rel="stylesheet" href="../css/style.css" type="text/css">
        
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="header">
            <div ng-include="'header.html'"></div>
	</div>
        <div class="list">
            <div class="item item-icon-left">
                <i class="icon"></i>
                Faire un gâteau
                <button class="button update">
                    <i class="icon ion-ios7-telephone"></i>
                </button>
                <button class="button delete">
                    <i class="icon ion-ios7-telephone"></i>
                </button>
            </div>
            <div class="item item-icon-left item-button-right">
                <i class="icon"></i>
                Relire mes leçons
                <button class="button update">
                    <i class="icon ion-ios7-telephone"></i>
                </button>
                <button class="button delete">
                    <i class="icon ion-ios7-telephone"></i>
                </button>
            </div>
            <div class="item item-icon-left item-button-right">
                <i class="icon"></i>
                Aller au cinéma
                <button class="button update">
                    <i class="icon ion-ios7-telephone"></i>
                </button>
                <button class="button delete">
                    <i class="icon ion-ios7-telephone"></i>
                </button>
            </div>
            <div class="item item-icon-left item-button-right">
                <i class="icon"></i>
                Prendre un bain !
                <button class="button update">
                    <i class="icon ion-ios7-telephone"></i>
                </button>
            </div>
        </div>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>        
    </body>
</html>
