<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<ion-view title="Task Details" ng-app="forget-me-not">      
    <ion-content class="has-header padding">
        <div class="card" ng-show="showTask">
            <div class="item item-divider item-icon-left">
                <div ng-switch on="task.priority">
                    <i ng-switch-when="1" class="icon ion-ios7-star balanced"></i>
                    <i ng-switch-when="2" class="icon ion-ios7-star energized"></i>
                    <i ng-switch-when="3" class="icon ion-ios7-star assertive"></i>
                    <i ng-switch-default class="icon ion-ios7-star light"></i>
                </div>
                {{task.name}} 
            </div>
            <div class="item item-text-wrap row">
                <span class="col col-10">Description</span>
                {{task.description}}
            </div>
            <div class="item item-text-wrap row">
                <span class="col col-10">Context</span>
                <a href ng-href="#/contexts/{{taskContext.context_id}}">{{taskContext.name}}</a>
            </div>
            <div class="item item-text-wrap row">
                <span class="col col-10">Due date</span>
                {{task.dueDate}}
            </div>
            <div class="item item-text-wrap row">
                <span class="col col-10">Duration</span>
                {{task.duration}} minutes
            </div>
            <div class="item item-text-wrap row">
                <span class="col col-10">Progression</span>
                {{task.progression}}%
            </div>
            <div class="item item-text-wrap row">
                <span class="col col-10">Label</span>
                {{task.label}}
            </div>    
        </div>
        <div class="card" ng-hide="showTask">
            <span> ERROR - This task is not available </span>
        </div>
    </ion-content>
</ion-view>
