/* Mise en forme de la vue */ 
#banner {
    width: 100%;
    height: 80px;
    background-color: #424242;
    margin-bottom: 2%;
}

#app-name {
    font-family: 'Ionicons';
    font-size: 40px;
    line-height: 80px;
    color: #ff9900;
    text-align: center;
}

#main-content {
    text-align: center;
}

.menu-item {
    display: inline-block;
    position: relative;
    width: 40%;
    height: 200px;
    vertical-align: top;
    padding: 20px 40px;
    margin: 50px 0;
    border: 4px #424242 solid;
}

.section-name {
    text-align: center;
    color: #424242;
}

/* Boutons pour addTask et addContext */
.button-bar {
    position: relative; 
    left: 90%; 
    width: 10%;
    margin-bottom: 10px;
}

